.boardTopBar{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}
.shareButton{
    background-color:#007bff;
    color: white;
    border: none;
    padding: 5px;
    
}
.boardTopBar>h5{
    margin: 0px;
}
.groundNameBoard{
    display: flex;
    justify-content: space-between;
}
.iconEditBoardName{
    margin-left: 10px;
}
.groundShareBoard{
    display: flex;
}
.note{
    color: red;
    margin: 5px;
    
}